<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    
    <% check = Helpers.is_logged_in? %>
    <%= binding.pry%>
    <% if check == true %>
      "Welcome <%=" " + @user.username%>"
      <%= @user.balance %>
      <a href="/logout">Log Out</a>
    <% else %>
    <a href="/">Home Page</a>
    <% end %>
    
  </body>
</html>